:root{
    --century: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    --soehne: 'Soehne Breit Sans', sans-serif;
}

body{
    margin: 0px;
    background-image: url("elétrica.png");
}

#navbar{
    display: flex;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
}

#navigation{
    display: flex;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
}

#nav-ul{
    display: flex;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    flex-direction: row-reverse;
}

#nav-ul li{
    margin-top: auto;
    margin-bottom: auto;
    font-family: var(--century);
    font-size: small;
    list-style: none;
    padding: 0px 10px 0px 10px;
}

#nav-ul li a{
    text-decoration: none;
    color: #fff;
}

#nav-ul li a:hover{
    color: #000;
    background-color:#ffffff;
}

#nav-links{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    text-align: center;
    flex-direction: row-reverse;
}

#logo-img{
    display: flex;
    width: 100%;
    height: 60px;
    margin:auto;
    background-color: #000;
}

#logo-img img{
    display: flex;
    width: 45px;
    height: 45px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 1em;
    background-color: #000;
    color: #fff;
    text-align: center;
}

#logo-text{
    font-family: var(--century);
    font-size: 1em;
    margin: auto 10px;
}

#main-content-l{
    display: flex;
    width: 100%;
    height: 100%;
}

#display-1{
    font-family: var(--century);
    font-size: 5em;
    height: 100%;
    color: #fff;
    margin-left:auto;
    margin-right:1em;
}

#title-detail{
    color: #00e0ff;
}